.rating input{
    display: none;
}

.rating{
    display: inline-block;
    border: 0;
}

.rating label{
    float: right;
}

.rating label:before{
    font-family: fontAwesome;
    content: "\f005";
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0;
    padding: 0.3rem 0.2rem;
}


.rating input[type="radio"]:checked ~ label, label:hover ~ label {
    color: orange; 
}

.checked {
    color: orange;
}