{% load static %}

    <!-- ============================ COMPONENT 1 ================================= -->
    {% if not cart_items %}
    <div class="container text-center shadow" style="height: 420px;border-radius: 10px;">
        <div class="row">
            <div class="col-lg-12" style="margin-top: 130px;">
                <h1>Your Cart is Empty</h1>
                <br>
                <a href="{% url 'store' %}" class="btn btn-lg btn-outline-warning" type="button"> <i
                class="fa fa-shopping-cart"></i> Shop Now </a> 
            </div>       
        </div>
    </div>
    {% else %}
    <div class="row">
        <aside class="col-lg-9">
            <div class="card">
                <table class="table table-borderless table-shopping-cart">
                    <thead class="text-muted">
                        <tr class="small text-uppercase">
                            <th scope="col">Product</th>
                            <th scope="col" width="120">Quantity</th>
                            <th scope="col" width="120">Price</th>
                            <th scope="col" class="text-right" width="200"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cart_item in cart_items %}
                        <tr>
                            <td>
                                <figure class="itemside align-items-center">
                                    <div class="aside"><img src="{{cart_item.product.product_image.url}}" class="img-sm"></div>
                                    <figcaption class="info">
                                        <a href="{{cart_item.product.get_product_cat_slug}}" class="title text-dark">{{cart_item.product.product_name}}</a>
                                        <!-- <p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p> -->
                                    </figcaption>
                                </figure>
                            </td>
                            <td>
                                <!-- col.// -->
                                <div class="col">
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <a href="#" style="cursor:pointer" hx-get="{% url 'cart_minus' cart_item.product.id %}" hx-target = "#cart_htmx"
                                            hx-swap = "outerhtml" class="btn btn-light" type="button" id="button-plus"> <i
                                                    class="fa fa-minus"></i> </a>
                                        </div>
                                        <input type="text" style="width: 100px;" class="form-control" value="{{cart_item.quantity}}">
                                        <div class="input-group-append">
                                            <a href="#" style="cursor:pointer" hx-get="{% url 'cart_plus' cart_item.product.id %}" hx-target = "#cart_htmx"
                                            hx-swap = "outerhtml" class="btn btn-light" type="button" id="button-minus"> <i
                                                    class="fa fa-plus"></i> </a>
                                        </div>
                                    </div> <!-- input-group.// -->
                                </div> <!-- col.// -->
                            </td>
                            <td>
                                <div class="price-wrap">
                                    <var class="price">${{cart_item.sub_total}}</var>
                                    <small class="text-muted"> ${{cart_item.product.price}} each </small>
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-right">
                                <a href="{% url 'remove_from_cart' cart_item.product.id %}" class="btn btn-danger"> Remove</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div> <!-- card.// -->
        </aside> <!-- col.// -->

        <aside class="col-lg-3">

            <div class="card">
                <div class="card-header">
                    <form action="{% url 'coupon_apply' %}" method="POST">
                        {% csrf_token %}
                        <input type="text" name="coupon" placeholder="Enter Coupon Code" class="form-control">
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                <p class="text-success mt-2"><strong>{{message}}</strong></p>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <p class="text-danger mt-2"><strong>{{message}}</strong></p>
                                {% else %}
                                <div></div>
                                {% endif%}
                            {% endfor %}
                        {% endif %}

                        {% if coupon %}
                        <div class="mt-4 mb-4">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert" style="width: fit-content;">
                                <strong>{{coupon}}</strong>
                                <a href="{% url 'remove_coupon' %}" style="color: brown !important;">
                                <span aria-hidden="true" class="text-lg">&emsp13;&emsp13; &times;</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        <button type="submit" class="btn btn-dark btn-block mt-3">Apply</button>
                    </form>
                      
                </div>
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt>Total price:</dt>
                        <dd class="text-right">${{total}}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Tax:</dt>
                        <dd class="text-right"> ${{tax}}</dd>
                    </dl>
                    <dl class="dlist-align">
                        <dt>Grand Total:</dt>
                        <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                    </dl>
                    <hr>
                    <p class="text-center mb-3">
                        <img src="{% static '/images/misc/payments.png' %}" height="26">
                    </p>
                    <a href="{% url 'checkout' %}" class="btn btn-success btn-block"> Checkout </a>
                    <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                </div> <!-- card-body.// -->
            </div> <!-- card.// -->

        </aside> <!-- col.// -->
    </div> <!-- row.// -->
    {% endif %}
    <!-- ============================ COMPONENT 1 END .// ================================= -->


