{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">
        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            <ul class="list-group">
                <a class="list-group-item {% if '/dashboard/' in request.path %} text-light now {% else %} text-dark {% endif %}" href="{% url 'dashboard' %}"> Dashboard </a>
                <a class="list-group-item {% if '/my_orders/' in request.path %} text-light now {% else %} text-dark {% endif %}" href="{% url 'myorders' %}"> My Orders </a>
                <a class="list-group-item {% if '/edit_profile/' in request.path %} text-light now {% else %} text-dark {% endif %}" href="#"> Edit Profile </a>
                <a class="list-group-item {% if '/change_password/' in request.path %} text-light now {% else %} text-dark {% endif %}" href="#"> Change Password </a>
            </ul>
            <br>
            <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off text-danger"></i> <span class="text">Logout</span> </a> 
            <!--   SIDEBAR .//END   -->
        </aside>
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged in as: {{request.user.first_name}} {{request.user.last_name}}</strong>
            </header>
            <div class="card-body text-center">
                <div class="row"> 
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://www.w3schools.com/howto/img_avatar.png" alt="profile" class="avatar" height="50" width="50" style="border-radius: 50%;">
                                <p class="mb-0">{{request.user.email}}</p>
                                <p>{{request.user.phone_number}}</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body bg-light">
                                <h5 class="card-title">Total Orders</h5>
                                <h4>{{total_orders}}</h4>
                                <a href="{% url 'myorders' %}">View Orders</a>
                            </div>
                        </div>
                    </div>
               
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body bg-light">
                                        <h5 class="card-title mb-2">Pending Orders</h5>
                                        <h4>{{pending_orders_count}}</h4>
                            
                                    </div>
                                </div>    
                            </div>

                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body bg-light">
                                        <h5 class="card-title">Net Spend</h5>
                                        <h4>$ {{net_spend|floatformat:2}}</h4>
                                        <div>&emsp13;</div>
                                    </div>
                                </div>    
                            </div>
                        </div>
                    </div>

        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    


{% endblock content %}